<%- include("../partials/header", {title}) %>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Icebreaker</th>
                <th class="center">Topic</th>
                <th class="center"># of Responses</th>
                <th class="center">Details</th>
            </tr>
        </thead>
        <tbody>
            <% allIcebreakers.forEach(function(i) { %>
            <tr>
                <td><%= i.content %></td>
                <td class="center"><%= i.topic %></td>
                <td class="center"><%= i.responseCount%></td>
                <td class="center"><a href="/icebreakers/<%=i._id%> ">See Responses</a></td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>

<%- include("../partials/footer") %>