<%- include("../partials/header", {title}) %>
    <div class="container d-grid gap-2">

        <div class="container">
            <div class="row">
                <div class="col">
                    Icebreaker: <%= icebreaker.content%>
                </div>
                <div class="col-6">
                    Topic: <%= icebreaker.topic%>
                </div>
            </div>
        </div>

        <div class="container d-grid gap-2">
            <form action="/icebreakers/<%=icebreaker._id%>/edit">
                <button class="btn btn-primary btn-sm" type="submit">Edit Icebreaker</button>
            </form>
    
            <form action="/icebreakers/<%=icebreaker._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm" type="submit">Delete Icebreaker</button>
            </form>
        </div>

        <% if (icebreaker.answers) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Answers</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% icebreaker.answers.forEach(function(answer){ %>
                    <tr>
                        <td><%= answer.content%></td>
                        <td><%= answer.author%></td>
                        <td><%= answer.createdAt.toLocaleDateString()%></td>
                        <td><a href="/responses/<%= answer._id%>/edit">Edit</a></td>
                        <td>
                            <form action="/responses/<%= answer._id%>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>

        <div class="container">
            <div class="mb-2">Add Your Answer:</div>
            <form action="/icebreakers/<%=icebreaker._id%>/responses" method="POST">

                <div class="form-floating mb-3">
                    <input type="text" name="content" class="form-control" id="answerInput" placeholder="Type your answer" required>
                    <label for="answerInput">Type your answer</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="author" class="form-control" id="authorInput" placeholder="Type your name" required>
                    <label for="authorInput">Type your name</label>
                </div>

                <div class="d-grid gap-2 col-5 mx-auto">
                    <button class="btn btn-primary btn-sm" type='submit'>Submit</button>
                </div>

            </form>
        </div>

    </div>
    <%- include("../partials/footer") %>