<%- include("../partials/header", {title}) %>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3><%= icebreaker.content%></h3> 
                </div>
                <div class="col-4">
                    <h3>Topic: <%= icebreaker.topic%></h3>
                </div>
            </div>
        </div>

        <div class="container mb-3">
            <div class="row justify-content-start">
                <% if(!icebreaker.answers.length) {%>
                <div class="col-3 p-3">
                    <form action="/icebreakers/<%=icebreaker._id%>/edit">
                        <button class="btn btn-secondary btn-sm" type="submit">Edit Icebreaker</button>
                    </form>
                </div>
                <% } %>
                <div class="col-3 p-3">
                    <form action="/icebreakers/<%=icebreaker._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm" type="submit">Delete Icebreaker</button>
                    </form>
                </div>
            </div>
        </div>

        <% if (icebreaker.answers.length) { %>
        <div class="container mb-4">
            <h2>Answers</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Answer</th>
                        <th class="center">Author</th>
                        <th class="center">Date</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% icebreaker.answers.forEach(function(answer){ %>
                    <tr>
                        <td class="align-middle"><%= answer.content%></td>
                        <td class="center align-middle"><%= answer.author%></td>
                        <td class="center align-middle"><%= answer.createdAt.toLocaleDateString()%></td>
                        <td class="center">
                            <form action="/responses/<%= answer._id%>/edit">
                                <button class="btn btn-secondary btn-sm" type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form action="/responses/<%= answer._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% } %>

        <div class="container">
            <h3>Add Your Answer</h3>
            <form action="/icebreakers/<%=icebreaker._id%>/responses" method="POST">

                <div class="form-floating mb-3">
                    <input type="text" name="content" class="form-control" id="answerInput" placeholder="Type your answer" required>
                    <label for="answerInput">Type your answer</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="author" class="form-control" id="authorInput" placeholder="Type your name" required>
                    <label for="authorInput">Type your name</label>
                </div>

                <div class="d-grid gap-2 col-4 mx-auto">
                    <button class="btn btn-primary btn-md" type='submit'>Submit</button>
                </div>

            </form>
        </div>

    <%- include("../partials/footer") %>