<%- include("../partials/header", {title}) %>
<!-- <h1>I can see it in your eyes</h1> -->
<form action="/icebreakers/<%=icebreaker._id%>/edit">
    <button type="submit">Edit Icebreaker</button>
</form>
<form action="/icebreakers/<%=icebreaker._id%>?_method=DELETE" method="POST" >
    <button type="submit">Delete Icebreaker</button>
</form>
<ul>
    <li>Ice Breaker: <%= icebreaker.content%></li>
    <li>Topic: <%= icebreaker.topic%></li>
</ul>
<ul>
<% icebreaker.answers.forEach(function(answer){ %>
    <li>
        Answer: <%= answer.content%> | Author: <%= answer.author%>
    </li>
<% }) %>
</ul>
<form action="/icebreakers/<%=icebreaker._id%>/responses" method="POST">
    <label>Answer:
        <input type="text" name="content">
    </label>
    <br><label>Your Name:
        <input type="text" name="author">
    </label>
    <br><button type="submit">Submit</button>
</form>



    




<%- include("../partials/footer") %>